@keyframes coeurAnimation {
    from{
        background-position-y: 52px;
    }
    to{
        background-position-y: 35px;
    }
}

@keyframes arriveePlats {
    0%{
        margin-top: 3rem;
        opacity: 0;
    }

    100%{
        margin-top: 0rem;
        opacity: 1;
    }
}

@keyframes rotationCheck{
    from{
        transform: rotate(180deg); 
    }
    to{
        transform: rotate(0deg); 
    }
  }